ion-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

ion-avatar {
    height: 40px;
    width: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
}

.logo {
    width: auto;
    height: 300px;
}

.no-image {
    filter: opacity(0.6);
    object-fit: contain;
    margin: auto;
}

.no-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}