<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!--Google-->

	<div *ngIf="suggestionsList.length > 0">
		<ion-card *ngFor="let place of suggestionsList; let i = index"
			[routerLink]="['details', place.id]">
			<ion-card-header>
				<ion-card-title>
					<div style="display:grid; grid-template-columns:10fr 1fr">
						{{place.name}}
						<img src="{{place.icon}}" height="20px">
					</div>
				</ion-card-title>
				<ion-card-subtitle>
					{{place.vicinity}}
				</ion-card-subtitle>
			</ion-card-header>
		</ion-card>
	</div>

	<!--Nominatim-->

	<div *ngIf="suggestionsNominatimList.length > 0">
		<ion-card *ngIf="randomPlace">
			<ion-card-header>
				<ion-card-title>
					<div style="display:grid; grid-template-columns:10fr 1fr">
						{{randomPlace.address[randomPlace.type]}}
						<img src="{{randomPlace.icon}}" height="20px">
					</div>
				</ion-card-title>
				<ion-card-subtitle>
					{{randomPlace.address.road}}, <br>
					{{randomPlace.address.postcode}}, <br>
					{{randomPlace.address.city}}, <br>
					{{randomPlace.address.state}}, <br>
					{{randomPlace.address.country}}
				</ion-card-subtitle>
			</ion-card-header>
		</ion-card>

		<ion-card *ngFor="let place of suggestionsList; let i = index" [routerLink]="['details', place.id]">
			<ion-card-header>
				<ion-card-title>
					<div style="display:grid; grid-template-columns:10fr 1fr">
						{{place.address[place.type]}}
						<img src="{{place.icon}}" height="20px">
					</div>
				</ion-card-title>
				<ion-card-subtitle>
					{{place.address.road}}, <br>
					{{place.address.postcode}}, <br>
					{{place.address.city}}, <br>
					{{place.address.state}}, <br>
					{{place.address.country}}
				</ion-card-subtitle>
			</ion-card-header>
		</ion-card>
	</div>
</ion-content>