<ion-content fullscreen>

	<map #map_canvas *ngIf="selectedPlace" [place]="selectedPlace"></map>

	<div *ngIf="suggestionsList.length > 0">
		<ion-toolbar style="margin-bottom: -10px;">
			<ion-title *ngIf="isEven" innerHtml="{{randomEmoji}} Have you tried"></ion-title>
			<ion-title *ngIf="!isEven" innerHtml="{{randomEmoji}} You should have"></ion-title>
		</ion-toolbar>

		<ion-slides #suggestionSlides pager="false" [options]="slideOptions" (ionSlideDidChange)="changeSelectedPlace()">
			<ion-slide *ngFor="let place of suggestionsList; let i=index" id="{{i}}option">

				<ion-card class="suggestion-card ion-activatable" (click)="presentPlaceModal(place)">
					<chow-image [imgSource]="getPlacePhotoUrl(place.photos, true)"></chow-image>
					<ion-card-header>
						<ion-card-title>
							<div class="card-title">
								{{place.name}}
								<img src="{{place.icon}}">
							</div>
						</ion-card-title>
						<ion-card-subtitle>
							{{place.vicinity}}
						</ion-card-subtitle>
					</ion-card-header>
					<ion-ripple-effect></ion-ripple-effect>
				</ion-card>

			</ion-slide>
		</ion-slides>
	</div>

	<!-- ion-fab only works if it's a direct child of ion-content... -->
	<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="reroll-button">
		<ion-fab-button (click)="getRandomPlace()" color="primary">
			<i class="fas fa-paw" style="font-size:2em;"></i>
		</ion-fab-button>
	</ion-fab>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
			<ion-button [routerLink]="['../favourites']">
				<ion-icon name="heart"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button (click)="presentFilterModal()">
				<i class="fas fa-filter"></i>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>