.reroll-button {
  bottom: -5%;

  ion-fab-button {
    height: 74px;
    width: 74px;
  }
}

.suggestion-card {
  text-align: left;
  min-height: 300px;
  min-width: 95%;

  .card-title {
    display: grid;
    grid-template-columns: auto auto;

    img {
      height: 20px;
      width: auto;
      margin-left: auto;
    }
  }

  ion-card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
