<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let place of suggestionsList; let i = index" [routerLink]="['details', place.id]">
		<img src="{{place.photoURL}}" />
		<ion-card-header>
			<ion-card-title>
				{{place.name}}
				<ion-thumbnail slot="end">
					<img src="{{place.icon}}">
				</ion-thumbnail>
			</ion-card-title>
			<ion-card-subtitle>
				{{place.street}},
				{{place.postcode}}, <br>
				{{place.city}}, <br>
				{{place.state}}, <br>
				{{place.country}}
			</ion-card-subtitle>
		</ion-card-header>
		<!-- <ion-card-content>
			Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
			Wisconsin Territory in 1836.
		</ion-card-content> -->
	</ion-card>
</ion-content>