.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "2-top-left 2-top-center 2-top-right"
        "top-left top-center top-right"
        "left center right"
        "bot-left bot-center bot-right"
        "2-bot-left 2-bot-center 2-bot-right";

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.bg-style-normal {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.bg-style-inverse {
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
}

.logo {
    grid-area: top-center;
}

.title {
    grid-area: center;
    text-align: center;
    text-transform: uppercase;

    h1,
    h3,
    h6 {
        margin: 0px 0px;
    }
}

.randomize-button {
    grid-area: bot-center;

    ion-button {
        --border-radius: 50px;
    }

    ion-fab-button {
        height: 74px;
        width: 74px;
    }
}