.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 3;
    grid-template-areas:
        "top-top-left top-top-center top-top-right"
        "top-left top-center top-right"
        "left center right"
        "bot-left bot-center bot-right";

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.logo {
    grid-area: top-center;

    ion-img {
        margin: auto;
        width: 100px;
    }
}

.randomize-button {
    grid-area: center;
}

.filter-button {
    grid-area: bot-center;
}