<ion-content>
	<div class="grid-container bg-style-normal ion-padding">
		<div class="logo grid-item">
			<chow-image [imgSource]="" logo="true"></chow-image>
		</div>
		<div class="title grid-item">
			<ion-title>
				<h3>ready to</h3>
				<h1>Chow?</h1>
			</ion-title>

			<h6 [innerHTML]="fyi"></h6>
		</div>
		<div class="randomize-button grid-item">
			<!-- <ion-buttons>
				<ion-button color="inverse" fill="solid" size="large" [routerLink]="['../suggestions']">
					<label>Yes, tell me what to eat!</label>
				</ion-button>
			</ion-buttons> -->
			<ion-fab-button color="inverse" [routerLink]="['../suggestions']">
				<i class="fas fa-paw" style="font-size:2em;"></i>
			</ion-fab-button>
		</div>
	</div>
</ion-content>