<ion-content>
	<div class="grid-container ion-padding">
		<div class="logo grid-item">
			<chow-image [imgSource]="" logo="true"></chow-image>
		</div>
		<div class="title grid-item">
			<ion-title>
				<h3>ready to</h3>
				<h1>Chow?</h1>
			</ion-title>

			<h6>Click the paw below</h6>
		</div>
		<div class="randomize-button grid-item">
			<ion-fab-button [routerLink]="['../suggestions']">
				<i class="fas fa-paw" style="font-size:2em;"></i>
			</ion-fab-button>
		</div>
	</div>
</ion-content>